:root {
    --clr-text-color: rgb(255, 255, 255);
    --clr-Blue: hsl(246, 80%, 60%);
    --clr-Lights-red: hsl(15, 100%, 70%); //(work
    --clr-Soft-blue: hsl(195, 74%, 62%); //(play)
    --clr-Light-red: hsl(348, 100%, 68%); //(study)
    --clr-Lime-green: hsl(145, 58%, 55%); // (exercise)
    --clr-Violet: hsl(264, 64%, 52%); // (social)
    --clr-Soft-orange: hsl(43, 84%, 65%); // (self care)
    --clr-Very-dark-blue: hsl(226, 43%, 10%);
    --clr-Dark-blue: hsl(235, 46%, 20%);
    --clr-Desaturated-blue: hsl(235, 45%, 61%);
    --clr-Pale-Blue: hsl(236, 100%, 87%);
    --clr-Font-size: 18px; // (card titles e.g. Work, Play)
    --clr-font-family: 'Rubik', sans-serif;
}

html {
    font-size: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--clr-font-family);
}

body {
    max-width: 90rem;
    max-height: 64rem;
    background-color: var(--clr-Very-dark-blue);

    .section {
        width: 69.4375rem;
        //width: 77.15%;
        height: 32.375rem;
        margin: 3rem auto 3rem auto;
        display: flex;

        .card {
            //width: 15.9375rem;
            width: 22.95%;
            height: 32.375rem;
            border-radius: 0.9rem;
            background-color: var(--clr-Dark-blue);

            &__top {
                //width: 15.9375rem;
                width: 100%;
                height: 22.125rem;
                padding: 2.125rem 1.8125rem 5.5rem;
                background-color: var(--clr-Blue);
                border-radius: 0.9rem;
                display: flex;
                flex-direction: column;
                align-items: baseline;
                justify-content: space-between;
            }

            &__image {
                height: 5.25rem;
                width: 5.25rem;
            }

            &__img {
                width: 100%;
            }

            &__text {
                width: 12.3125rem;
                height: 6.6875rem;
                padding: 3px 4px;
                color: var(--clr-Pale-Blue);
            }

            &__small {
                font-size: 0.875rem;
                font-weight: 300;
            }

            &__name {
                font-size: 1.875rem;
                letter-spacing: 5px;
                color: white;
            }

            &__lastname {
                font-size: 1.875rem;
                letter-spacing: 5px;
                color: white;
            }

            &__bottom {
                padding: 1.8125rem 2.0625rem 2.0625rem 2.0625rem;
                height: 10.25rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: baseline;
            }

            &__daily {
                font-size: 1rem;
                letter-spacing: 2px;
                color: var(--clr-Pale-Blue);
                cursor: pointer;
                background-color: var(--clr-Dark-blue);
                border: none;

                &:hover {
                    color: white;
                }
            }

            &__weekly {
                font-size: 1rem;
                font: 0.875rem;
                letter-spacing: 2px;
                color: var(--clr-Pale-Blue);
                cursor: pointer;
                background-color: var(--clr-Dark-blue);
                border: none;

                &:hover {
                    color: white;
                }
            }

            &__monthly {
                font-size: 1rem;
                font: 0.875rem;
                letter-spacing: 2px;
                color: var(--clr-Pale-Blue);
                cursor: pointer;
                background-color: var(--clr-Dark-blue);
                border: none;

                &:hover {
                    color: white;
                }
            }
        }

        .dashboard {
            margin-left: 1.875rem;

            &__top {
                //width: 51.5625rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &__card-briefcase {
                //width: 15.9375rem;
                width: 30.90%;
                height: 15.25rem;
                border-radius: 0.9375rem;
                background-color: var(--clr-Lights-red);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: baseline;
                cursor: pointer;
            }

            &__card-gamepad {
                //width: 15.9375rem;
                width: 30.90%;
                height: 15.25rem;
                border-radius: 0.9375rem;
                background-color: var(--clr-Soft-blue);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: baseline;
                cursor: pointer;
            }

            &__card-book {
                //width: 15.9375rem;
                width: 30.90%;
                height: 15.25rem;
                border-radius: 0.9375rem;
                background-color: var(--clr-Light-red);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: baseline;
                cursor: pointer;
            }

            &__card-falling {
                //width: 15.9375rem;
                width: 30.90%;
                height: 15.25rem;
                border-radius: 0.9375rem;
                background-color: var(--clr-Lime-green);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: baseline;
                cursor: pointer;
            }

            &__card-comment {
                //width: 15.9375rem;
                width: 30.90%;
                height: 15.25rem;
                border-radius: 0.9375rem;
                background-color: var(--clr-Violet);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: baseline;
                cursor: pointer;
            }

            &__card-heart {
                //width: 15.9375rem;
                width: 30.90%;
                height: 15.25rem;
                border-radius: 0.9375rem;
                background-color: var(--clr-Soft-orange);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: baseline;
                cursor: pointer;
            }

            &__card-head {
                height: 2.8125rem;
                width: 100%;
                overflow: hidden;
                position: relative;
            }

            &__card-body {
                background-color: var(--clr-Dark-blue);
                border-radius: 0.9375rem;
                width: 100%;
                height: 12.4375rem;
                padding: 2rem 1.875rem 2.25rem 1.9375rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: baseline;

                &:hover {
                    background-color: #34397B;
                }
            }

            &__body-top {
                height: 1rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &__bady-title {
                font-size: 1rem;
                color: white;
            }

            &__dot {
                color: white;
                cursor: pointer;
            }

            &__card-bottom {
                width: 100%;
                height: 4.75rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: baseline;
            }

            &__card-times {
                padding-left: 2px;
                font-size: 2.5rem;
                letter-spacing: 5px;
                color: white;
            }

            &__card-week {
                font-size: 0.6875rem;
                color: white;
                letter-spacing: 1px;
            }

            &__bottom {
                margin-top: 1.875rem;
                width: 51.5625rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &__briefcase {
                // width: 4.5631rem;
                position: absolute;
                right: 5%;
                top: -15%;
                transform: rotate(45deg);
                color: rgba(211, 211, 211, 0.6);
            }

            &__gamepad {
                position: absolute;
                right: 5%;
                top: -15%;
                transform: rotate(45deg);
                color: rgba(211, 211, 211, 0.6);
            }

            &__book {
                position: absolute;
                right: 5%;
                top: -15%;
                transform: rotate(45deg);
                color: rgba(211, 211, 211, 0.6);
            }

            &__falling {
                position: absolute;
                right: 5%;
                top: -15%;
                transform: rotate(120deg);
                color: rgba(211, 211, 211, 0.6);
            }

            &__comment {
                position: absolute;
                right: 5%;
                top: -15%;
                transform: rotate(45deg);
                color: rgba(211, 211, 211, 0.6);
            }

            &__heart {
                position: absolute;
                right: 5%;
                top: -25%;
                transform: rotate(45deg);
                color: rgba(211, 211, 211, 0.6);
            }
        }
    }

    .secmobile {
        display: none;
    }
}


@media screen and (max-width: 1200px) {
    html {
        font-size: 90%;
    }
}

@media screen and (max-width: 1100px) {
    html {
        font-size: 85%;
    }
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 900px) {
    html {
        font-size: 70%;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width: 700px) {
    html {
        font-size: 100%;
    }

    body {
        max-width: 23.47rem;
        max-height: 91.8125rem;
        margin-right: auto;
        margin-left: auto;
        background-color: var(--clr-Very-dark-blue);

        .section {
            display: none;
        }

        .secmobile {
            display: block;
            height: 81.6875rem;
            width: 20.4375rem;
            margin: 5.0625rem auto;

            .cardmob {
                width: 100%;
                height: 12.6875rem;
                background-color: var(--clr-Dark-blue);
                border-radius: 0.9375rem;

                &__top {
                    width: 100%;
                    height: 8.375rem;
                    border-radius: 0.9375rem;
                    background-color: var(--clr-Blue);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 2.125rem 1.75rem 1.9375rem;
                }

                &__left {
                    width: 4.375rem;
                    height: 4.375rem;
                }

                &__img {
                    width: 100%;
                    height: 100%;
                }

                &__right {
                    height: 4.375rem;
                    width: 12.5rem;
                    padding: 1.125rem 0.875rem 0.875rem;
                }

                &__small {
                    font-size: 0.75rem;
                    color: var(--clr-text-color);
                }

                &__name {
                    font-size: 1.125rem;
                    color: var(--clr-text-color);
                }

                &__bottom {
                    padding: 1.75rem 1.375rem 1.5625rem 2.1875rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                &__daily {
                    color: var(--clr-Pale-Blue);
                    cursor: pointer;

                    &:hover {
                        color: var(--clr-text-color);
                    }
                }

                &__weekly {
                    color: var(--clr-Pale-Blue);
                    cursor: pointer;

                    &:hover {
                        color: var(--clr-text-color);
                    }
                }

                &__monthly {
                    color: var(--clr-Pale-Blue);
                    cursor: pointer;

                    &:hover {
                        color: var(--clr-text-color);
                    }
                }
            }

            .dashboardmob {
                margin-top: 1.5rem;

                &__card-briefcase {
                    width: 100%;
                    height: 10rem;
                    border-radius: 0.9375rem;
                    background-color: var(--clr-Lights-red);
                    overflow: hidden;
                }

                &__card-gamepad {
                    margin-top: 1.5rem;
                    width: 100%;
                    height: 10rem;
                    border-radius: 0.9375rem;
                    background-color: var(--clr-Soft-blue);
                    overflow: hidden;
                }

                &__card-book {
                    margin-top: 1.5rem;
                    width: 100%;
                    height: 10rem;
                    border-radius: 0.9375rem;
                    background-color: var(--clr-Light-red);
                    overflow: hidden;
                }

                &__card-falling {
                    margin-top: 1.5rem;
                    width: 100%;
                    height: 10rem;
                    border-radius: 0.9375rem;
                    background-color: var(--clr-Lime-green);
                    overflow: hidden;
                }

                &__card-comment {
                    margin-top: 1.5rem;
                    width: 100%;
                    height: 10rem;
                    border-radius: 0.9375rem;
                    background-color: var(--clr-Light-red);
                    overflow: hidden;
                }

                &__card-heart {
                    margin-top: 1.5rem;
                    width: 100%;
                    height: 10rem;
                    border-radius: 0.9375rem;
                    background-color: var(--clr-Soft-orange);
                    overflow: hidden;
                }

                &__card-head {
                    //height: 2.375rem;
                    height: 23.75%;
                    width: 100%;
                    position: relative;
                    overflow: hidden;
                }

                &__briefcase {
                    position: absolute;
                    right: 5%;
                    top: 0%;
                    transform: rotate(45deg);
                    color: rgba(211, 211, 211, 0.6);
                }

                &__gamepad {
                    position: absolute;
                    right: 5%;
                    top: 0%;
                    transform: rotate(45deg);
                    color: rgba(211, 211, 211, 0.6);
                }

                &__book {
                    position: absolute;
                    right: 5%;
                    top: 0%;
                    transform: rotate(45deg);
                    color: rgba(211, 211, 211, 0.6);
                }

                &__falling {
                    position: absolute;
                    right: 5%;
                    top: -15%;
                    transform: rotate(120deg);
                    color: rgba(211, 211, 211, 0.6);
                    -webkit-transform: rotate(120deg);
                    -moz-transform: rotate(120deg);
                    -ms-transform: rotate(120deg);
                    -o-transform: rotate(120deg);
                }

                &__comment {
                    position: absolute;
                    right: 5%;
                    top: -10%;
                    transform: rotate(45deg);
                    color: rgba(211, 211, 211, 0.6);
                }

                &__heart {
                    position: absolute;
                    right: 5%;
                    top: -30%;
                    transform: rotate(45deg);
                    color: rgba(211, 211, 211, 0.6);
                }

                &__card-body {
                    //height: 7.625rem;
                    height: 76.25%;
                    width: 100%;
                    border-radius: 0.9375rem 0.9375rem 0 0;
                    background-color: var(--clr-Dark-blue);
                    padding: 1.9375rem 1.5rem 2.1875rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                }

                &__body-top {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: var(--clr-text-color);
                }

                &__card-bottom {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: var(--clr-text-color);
                }
            }
        }
    }
}